/* body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
} */

body {
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    background-color: #E4E4E4;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
}


/* -------------- header start ------------------- */

.header {
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;
    background-color: white;
}

.nav-span form {
    display: inline-block;
    position: relative;
}

.nav-span span {
    cursor: pointer;
}

.nav-span input {
    font-size: 0.9rem;
    font-weight: 200;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 225, 225);
    outline: 0px;
    padding: 0.5rem 2rem;
}

.navigation a:hover,
.navigation a:active,
.navigation a.active {

    padding-bottom: 0.25rem;
    border-bottom: 4px solid brown;
}

.logo {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
}

.logo h1 {
    margin-left: 2rem;
    margin-top: 1rem;
    /* color: brown; */
}

.logo i {
    font-size: 2.5rem;
    margin-top: 0.7rem;
    width: 3rem;
    color: #9b211b;
}

.icon {
    font-size: 2.5rem;
    display: none;
}

.navigation {
    margin-top: 1.5rem;
}

.res-navigation {
    background-color: white;
    display: none;
    width: 200%;
    z-index: 999;
    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;
    margin-top: -0.7rem;
}

.res-span p {
    padding-left: 1rem;
    padding-top: 1rem;
}


.nav-span {
    margin: 1rem;
}

#cart-number {
    background-color: #9b211b;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: #fff;
    padding: 0.3rem 0.6rem;
}

@media(max-width: 1024px) {
    .nav-span {
        display: none;
    }

    .icon {
        position: absolute;
        right: 6rem;
        display: block;
        cursor: pointer;
        top: 1rem;
    }

    .res-navigation {
        display: block;
    }
}

@media(max-width: 601px) {
    .logo {
        margin-left: 0rem;
    }

    .logo h1 {
        margin-left: 0.5rem;
        font-size: 2rem;
    }

    .icon {
        right: 1rem;
    }
}



/*-------------- header end ------------------- */




.error {
    color: #f02757;
}

.section-heading {
    padding: 3rem 0 1rem 4rem;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
}

#view-all {
    display: grid;
    grid-template-columns: 80% 20%;
}

#view-all p {
    padding: 4rem 4rem 1rem 4rem;
    font-size: 1rem;
    font-weight: 8 00;
    color: #f02757;
}

@media(max-width: 1024px) {
    #view-all {
        grid-template-columns: 60% 40%;
    }

    .section-heading {
        font-size: 1.4rem;
        font-weight: 700;
    }

    @media(max-width: 512px) {
        #view-all {
            grid-template-columns: 65% 35%;
        }

        #view-all p {
            padding: 3rem 0 0 2rem;
        }

        .section-heading {
            font-size: 1.2rem;
            font-weight: 700;
            padding: 3rem 0 0 2rem;
        }
    }

}

/* .header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    background-color: #fff;
} */

@media(max-width: 1024px) {
    #cart {
        display: none;
    }
}

#logo span {
    font-size: 2rem;
    font-weight: bold;
}

#logo i {
    color: brown;
    font-size: 2.4rem;
    margin-left: 2rem;
}

#search-bar input {
    border-width: 2px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid;
    width: 100%;
    line-height: 1;
    padding: 14px 20px;
    padding-right: 55px;
    flex: 1;
    border-color: rgb(173, 171, 171);

}

#search-bar input::placeholder {
    font-size: 0.9rem;
}

#search-bar span {
    position: relative;
}

#search-bar i {
    position: absolute;
    top: 0;
    right: 1rem;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}

#cart {
    margin-left: 12rem;
}

#cart i {
    font-size: 1.5rem;
    word-spacing: 4rem;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 1rem;
}

.menu {
    width: 100%;
    background-color: #222222;
    height: 3rem;
    color: white;
    /* opacity: 0.5; */

}

/* <--------End header----------> */


/* <-------- Banner ----------> */

.hero-section {
    margin-top: 4.5rem;
}

.slider-image {
    width: 50vw;
    height: 80vh;
}

.slider-each {
    position: relative;
    height: 95%;
}


.slider-word {
    position: absolute;
    color: #fff;
    right: -11%;
    top: 30%;
    width: 50%;
    z-index: 9999;

}

.slider1 {
    background-color: #D0E3ED;
}

.slider2 {
    background-color: #F7D8BA;
}

.slider-image2 img {
    margin-left: 1vw;
}

.slider-word h3 {
    margin: 0;
    padding: 0;
    font-size: 3vw;
    font-weight: 400;
    width: 50%;
    color: black;
    /* animation: slide-down 500ms ease-out forwards; */
}

.slider-word p {
    margin: 0;
    color: black;
    padding: 0;
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 1rem;
    /* text-align: center; */
    /* animation: slide-up 500ms ease-out forwards; */
}

.slider-word-train {
    width: 30%;
}

.slick-prev {
    left: 5% !important;
}

.slick-arrow {
    z-index: 99;
}

.slick-next {
    right: 5% !important;
}



@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-6rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(6rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes slide-out-up {
    from {
        opacity: 0;
        transform: translateY(0rem);
    }

    to {
        opacity: 1;
        transform: translateY(-32rem);
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-6rem);
    }

    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}


.animate-hero-h {
    animation: slide-down 500ms ease-out forwards;
}

.animate-outer {
    animation: slide-out-up 300ms ease-out forwards;
}

.animate-hero-p {
    animation: slide-up 1200ms ease-out forwards;
}


/* <-------- Banner end ----------> */



/* <---------- category -----------> */

.category {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto ;
    margin-top: 6rem;
}

#cat1 {
    position: relative;
    background-color: #EEDAC2;
    height: 20rem;
    width: 17rem;
    border-radius: 5px;
}

#cat1 img{
position: absolute;
top: 13vh;
right: 3vw;
}

#cat2{
position: relative;
background-color: #D2CCE0;
height: 9rem;
width: 18rem;
border-radius: 5px;
}

#cat2 img{
    position: absolute;
    width: 9rem;
    right:2px;
    height: 8rem;
    padding: 1rem;
}


#cat3{
    position: relative;
    margin-top: 1rem;
    height: 9rem;
    width: 18rem;
    background-color: #DFE2D7;
    border-radius: 5px;
}

#cat3 img {
    position: absolute;
    width: 9rem;
    right: 2px;
    height: 8rem;
    padding: 1rem;
}
.category-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#cat-word{
    position: absolute;
    color: #000712;
    top:5vh;
    left: 3vw;
}

#cat-word h3{
    font-size: 1.1rem;
}

#cat1:hover #cat-img,#cat2:hover #cat-img,#cat3:hover #cat-img{
    cursor: pointer;
    /* width: 17rem; */
    transform: scale(1.25);
    transition: transform .2s;
}

/* ----------- category end -------- */


/* -------------feautured ---------- */

.featured-outer {
    margin-top: 3rem;
}

.featured {
    text-align: center;
    margin: auto;
}

.featured ul {
    /* margin-top: 2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.featured img {
    width: 10rem;
    height: 10rem;
}

#star {
    color: #008081;
}

#colored-star {
    color: #ccc;
}



.featured li {
    background-color: #fff;
    margin: 0.2rem;
    height: 28rem;
    padding: 2rem 3rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(139, 137, 137, 0.07);
    position: relative;
}

.featured li:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 7);
    height: 30rem;
    top: -cle2rem;
    transition: .2s;
}


.featured h5 {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}


#price {
    color: #f02757;
    display: block;
    /* margin-bottom: 3rem; */
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    padding-top: 1rem;
    /* bottom: 19px; */
}

.cart-button {
    position: absolute;
    display: block;
    margin: auto;
    bottom: 5px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 6px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #f02757;
}


.cart-button:hover {
    cursor: pointer;
}

@media(max-width: 1024px) {
    .featured ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 768px) {
    .featured ul {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 512px) {
    .featured ul {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}

.search-result{
    margin-top: 5rem;
}

/* ---------- newsletter ----------- */

.newsletter {
    text-align: center;
    padding-top: 5rem;
    border-bottom: 1px solid rgb(180, 179, 179);
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #222222;
    color: #fff;
}

.newsletter h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.newsletter p {
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    color: rgb(192, 192, 192);
}

.newsletter input {
    border-width: 2px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid;
    width: 16rem;
    line-height: 1;
    padding: 12px 9px;
    /* padding-right: 55px; */
    flex: 1;
    border-color: rgb(173, 171, 171);

}

.newsletter-button {
    border-width: 2px;
    border-style: solid;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #f02757;
    border-width: 0;
    color: white;
}

.newsletter-button:hover {
    background-color: #831d34;
    cursor: pointer;
}

.follow-us i {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.follow-us i:hover {
    cursor: pointer;
}

@media (max-width:1200px) {
    .newsletter {
        grid-template-columns: 1fr 1fr;
    }

    .follow-us {
        text-align: center;
        margin: auto;
    }

    .newsletter-span {
        text-align: center;
        margin: auto;
    }
}

@media (max-width:1023px) {
    .newsletter {
        grid-template-columns: 1fr;
    }

    .newsletter-span {
        margin: 1rem 0;
    }
}

@media (max-width:490px) {
    .newsletter-button {
        margin-top: 1rem;
    }

    .follow-us {
        margin-top: 10px;
    }
}

/* <----------- newsletter end ----------> */

/* <----------- Footer ----------> */

.footer {
    text-align: center;
    /* margin-top: 3rem; */
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #fff;
}

.footer h3 {
    margin-bottom: 1.7rem;
}

@media (max-width:700px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        margin-top: 13px;
    }
}



/* <--------------login------------> */

.logins {
    margin: 8rem auto;
    width: 50%;

}

.d-account {
    margin-top: 2rem;
    text-align: center;
}

.logins small {
    text-align: left;
}

.logins-btn {
    margin-top: 2rem;
    display: block;
    background-color: #9b211b;
    color: #fff;
    border: 0;
    width: 7rem;
    height: 2.4rem;
    border-radius: 4rem;
}

.contact-form {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(102, 102, 102, 0.15);
    padding: 20px;
    width: 90%;
}

.contact-form-input,
.contact-form-text {
    display: block;
    width: 90%;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 3rem;
    position: relative;
    outline: 0;
    position: relative;
}


/* <------------Popular page ---------> */

.popular-section h2 {
    margin-top: 7rem;
    text-align: center;
}

.popular-all {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 90%;
    margin: auto;
}

.popular-right ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.popular-right img {
    width: 12rem;
    height: 13rem;
}

.popular-right {
    margin: 4rem 0;
}

.popular-right li {
    background-color: #fff;
    margin: 0.2rem;
    height: 28rem;
    padding: 2rem 3rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .07);
    position: relative;
}

.popular-right-head {
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 22px;
    overflow-wrap: break-word;
    text-align: left;
}

.popular-cat {
    margin-top: 2rem;
    color: #999999;
    text-align: left;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
}

.popular-left ul {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    margin-top: 4rem;
    margin-right: 1rem;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .07);
}

.popular-left li {
    font-size: 1rem;
    color: #666666;
    margin: 1rem;

}

.popular-left h3 {
    font-size: 1.1rem;
}

.popular-right-inner {
    text-align: left;
}

@media (max-width:1270px) {
    .popular-right ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1100px) {
    .popular-left {
        display: none;
    }

    .popular-right ul {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0;
    }

    .popular-right li {
        padding: 2rem 1rem;
    }

    .popular-all {
        grid-template-columns: 1fr;
    }
}

@media (max-width:1023px) {
    .popular-right ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:592px) {
    .popular-right ul {
        grid-template-columns: 1fr;
    }
}

/* <-----------each page -----------> */

.container {
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    text-align: center;
    mix-blend-mode: multiply;
}

.container img {
    border: 1px solid #ccc;
    /* padding: 2rem; */
    mix-blend-mode: multiply;
    width: 22rem
}

.description {
    text-align: left;
    width: 100%;
}

.description h2 {
    color: #333;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 22px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    text-align: left;
}

.description p {
    line-height: 1.8rem;
    color: #666;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: .5px;
}

@media (max-width:1100px) {
    .container img {
        padding: 5px;
        width: 19rem;
    }
}

@media (max-width:800px) {
    .container img {
        padding: 2px;
        width: 15rem;
    }

    .description h3 {
        font-size: 16px;
    }
}


/* <---------cartPage--------> */
.cart {
    margin-top: 1rem;
}

.cart-amount {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;

}

.cart-inner {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 9px;
    border-top: 1px solid black;
    padding: 1rem;
}

.cart-delete {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 1rem;
}

#your-s-cart {
    margin: 1.5rem;
    font-size: 1.3rem;
}

.cart img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

/* -----------cart-section -------------- */

.cart-overlay {
    width: 25%;
    z-index: 9999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    max-height: 100%;
    top: 0;
    background-color: #fff;
    position: fixed;
    right: 0;
    overflow-y: auto;
    animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateX(13rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.cart-btn {
    background-color: #F02757;
    color: #fff;
    outline: 0;
    width: 80%;
    outline: 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 0;
    margin: 2rem;

}

.cart-overlay-outer {
    position: relative;
}


/* ----------- end-cart-section -------------- */

/* <---------End CartModal--------> */




.search-result {
    padding-top: 3rem;
}

.search-head {
    margin-top: 3rem;
    text-align: center;
}

.search-icon {
    color: red;
    position: absolute;
    right: 1rem;
    top: .5rem;
}

.profile {
    background-color: #fff;
    width: 70%;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.profile h2 {
    background-color: #b6b4b4;
    text-align: center;
    padding: 1rem;
}

.profile-inner {
    margin-left: 3rem;
}

/* --------contact us-------- */

.contact {
    display: grid;
    width: 85%;
    grid-template-columns: 40% 60%;
    margin: auto;
    padding: 3rem;
}


.contact-info {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(102, 102, 102, 0.15);
    padding: 20px;
    width: 70%;

}

@media (max-width:1300px) {
    .contact {
        width: 100%;
    }

    .contact-info {
        width: 85%;
    }
}

.contact-container {
    padding-top: 4rem;
}

.contact-form {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(102, 102, 102, 0.15);
    padding: 20px;
    width: 90%;
}

.contact-form-input,
.contact-form-text {
    display: block;
    width: 90%;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 3rem;
    position: relative;
    outline: 0;
    position: relative;
}

.contact-info-each {
    display: grid;
    grid-template-columns: 20% 75%;
}

.contact-info-each i {
    /* background-color: rgb(48, 48, 80); */
    color: rgb(48, 48, 80);
    font-weight: 800;
    font-size: 2rem;
    margin-top: 1rem;
    padding-right: 1rem;
}

.contact h4 {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
}

.error404-img {
    width: 100%;
    height: 30rem;
}

.contact-head {
    color: #cda274;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-text {
    line-height: 1.7;
    color: #333333;
    font-size: 13px;
}

.mandatory {
    font-size: 13px;
    padding-bottom: 1rem;
    font-weight: 300;
}

.error {
    color: #9b211b;
    text-align: left;
    margin-top: 15px;

}

.invalid-input {
    border-color: rgb(238, 16, 16);
}

@media(max-width:800px) {
    .contact {
        width: 95%;
        padding: 0;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }

    .contact-info {
        margin: auto;
        margin-bottom: 2rem;
    }

    .contact-form {
        margin: auto;
    }
}

/* -------- end- contact us-------- */


/* ---------  about-us ---------- */

.about-hero {
    position: relative;
}

.about-hero img {
    width: 100%;
    height: 600px;
    filter: brightness(30%);
}

.about-banner-head {
    top: 50%;
    position: absolute;
    text-align: center;
    font-weight: 900px;
    width: 45%;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.5;
    left: 20%;
}

.map-section {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map-section-right {
    width: 80%;
}

.map-section-right p {
    font-size: 1.2rem;
}

.third-section {
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    width: 60%;
}

.third-section h3 {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.third-section p {
    line-height: 1.7;
}

.third-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem auto;
    width: 90%;
}

.third-section-grid h4 {
    margin: 1rem 0;
}

.third-section-grid-each img {

    width: 22rem;
    height: 12rem;
}

.third-section-grid p {
    width: 90%;
}

.testimonial h3 {
    margin: 3rem;
}

.testimonial ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.testimonial li {
    border: solid 0.1px #E4E4E4;
    margin: 1rem;
    padding: 2rem;
}


@media (max-width:1100px) {
    .about-banner-head {
        top: 40%;
        font-weight: 700px;
        width: 65%;
        font-size: 2.2rem;
        line-height: 1.5;
        left: 20%;
    }

    .map-section {
        grid-template-columns: 1fr;
        padding-left: 2rem;
        padding-top: 1rem;
    }

    .map-section-right {
        padding-top: 2rem;
    }

    .third-section {
        width: 100%;
    }

    .third-section-grid {
        display: block;
        display: grid;
        grid-template-columns: 1fr;
        margin: 3rem auto;
    }

    .third-section-grid-each {
        display: block;
        margin: auto;
        text-align: center;

    }

    .third-section-grid-each p {
        width: 70%;
        margin: 1.5rem auto;
    }

    .testimonial ul {
        grid-template-columns: 1fr;
    }
}

@media (max-width:800px) {
    .map-section img {
        width: 80%;
    }

    .about-banner-head {
        width: 85%;
        font-size: 2.1rem;
        line-height: 1.5;
        left: 10%;
    }

    .map-section-right {
        width: 95%;
    }

    .third-section p {
        width: 90%;
        margin: auto;
    }

    .third-section-grid-each p {
        width: 85%;
    }

    .third-section-grid img {
        width: 80%;
    }

    .testimonial li {
        border: solid 0.1px #E4E4E4;
    }

}

@media (max-width:500px) {
    .map-section img {
        width: 80%;
    }

    .about-banner-head {
        width: 85%;
        font-size: 1.6rem;
    }
}